# Development artifacts
dev/*
!dev/testing/

# Environment
.env
.env.local

# Python
.venv/
__pycache__/
*.py[cod]
*.pyc
.ruff_cache/
.pytest_cache/
build/
dist/
wheels/
*.egg-info

# IDE
.vscode/
.idea/

# OS
.DS_Store
